<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>{% block title %}Ukla{% endblock %}</title>

    <!-- Hotjar Tracking Code for www.ukla.tn -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:1797347,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>


    {% block stylesheets %}
        <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
        <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.scrollbar.css') }}' type='text/css' media='all'/>
        <link rel='stylesheet' href='{{ asset('js/vendor/revslider/rs-plugin/css/settings.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('js/vendor/magnific-popup/magnific-popup.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/fontello/css/fontello.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/fontello/css/animation.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/style.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/shortcodes.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/responsive.css') }}' type='text/css' media='all' />
        <link rel='stylesheet' href='{{ asset('css/checkBoxPlatStyle.css') }}' type='text/css' media='all' />

    {% endblock %}

</head>
<body>
{% block body %}
    <body class="{% block classbody %}home page{% endblock %}">

    <div id="wrap" class="{% block divType %}{% endblock %}" >
        <div id="wrapBox" class="wrapBox">
            {% block header %}

                <header id="header">
                    <div class="menuFixedWrapBlock"></div>
                    <div class="menuFixedWrap">
                        <a href="#" class="openMobileMenu"></a>
                        <a href="#" class="openTopMenu"></a>
                        <div class="usermenuArea">
                            <ul class="usermenuList">
                                <li class="usermenuCurrency">
                                    <a href="#">$</a>
                                    <ul>
                                        <li>
                                            <a href="#">
                                                <b>$</b> Dollar
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <b>€</b> Euro
                                            </a>
                                        </li>
                                        <li>
                                            <a href="#">
                                                <b>£</b> Pounds
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                                <li class="usermenuLogin">
                                    {% if user is null %}
                                        <a href="#user-popUp" class="user-popup-link">Se connecter</a>
                                    {% else %}
                                        <a href="{{ path('editProfile') }}">{{ user.username }}</a>
                                        <a href="{{ path('fos_user_security_logout') }}">Se déconnecter</a>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="wrapTopMenu">
                            <div class="topMenu main">
                                <ul id="mainmenu" class="">
                                    <li class="">
                                        <a href="{{ path('homepage') }}">Page d'accueil</a>
                                    </li>
                                    <li class="">
                                        <a href="{{ path('rechercheSimple') }}">Recherche</a>
                                    </li>
                                    <li class="">
                                        <a href="{{ path('form_plats_rec') }}">Recherche avancée</a>
                                    </li>
                                    <li class="">
                                        <a href="#">Nous contacter</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="logoHeader">
                        <a href="{{ path('homepage') }}">
                            <img src="{{ asset('images/logo_ukla270ko.jpg') }}" alt="Logo Ukla">
                        </a>
                    </div>
                    {#<h1 class="subTitle">UKLA</h1>#}
                    <h5 class="sc_title sc_title_center sc_title_style_1 margin_bottom_50">
                        Bienvenue dans votre propre cuisine.</h5>
                </header>
            {% endblock %}

            <div class="wrapContent">
                <div id="wrapWide" class="wrapWide">
                    {% block content %}

                    {% endblock %}
                </div>
            </div>

            <footer class="footerWidget">

                <div class="copyright">
                    <a href='#'>Engineers Spark</a>
                    &copy; 2020 All Rights Reserved.Terms of Use and Privacy Policy.
                </div>
                <div class="custom_footer">
                    <div class="text">Inscrivez vous dans notre newsletter</div>
                    <div class="sc_emailer aligncenter margin_top_20">
                        <form class="sc_emailer_form">
                            <input type="text" class="sc_emailer_input" name="email" value="" placeholder="ENTREZ VOTRE ADRESSE MAIL">
                            <a href="#" class="sc_emailer_button icon icon-mail8" title="Submit" data-group="E-mailer subscription"></a>
                        </form>
                    </div>
                </div>
            </footer>
        </div>

    </div>

    <div class="buttonScrollUp upToScroll icon-up-open-micro"></div>












    {% if form is defined %}

        <div id="user-popUp" class="user-popUp mfp-with-anim mfp-hide ">
            <div class="sc_tabs sc_tabs sc_tabs_style_1 sc_tabs_effects" style="display: block">
                <ul class="sc_tabs_titles">
                    <li><a href="#loginForm" class="loginFormTab">Bienvenue de nouveau !</a></li>
                    <li><a href="#registerForm" class="registerFormTab">faisons connaisance !</a></li>
                </ul>

                <div class="sc_tabs_array">
                    <div id="loginForm" class="formItems loginFormBody sc_columns_2">
                        <h5 class="sc_title sc_title_style_3 sc_title_center margin_bottom_10">On se connaît déjà ? <br>
                            Alors identifiez-vous, et bienvenue à nouveau! </h5>
                        {% if error  %}
                            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                        <form action="{{path("fos_user_security_check")}}" method="post" name="login_form" class="formValid">
                            {% if csrf_token %}
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                            {% endif %}
                            <div class="sc_columns_item">
                                <input type="hidden" name="redirect_to" value="#" />
                                <ul class="formList">


                                    {% if form is defined %}
                                        <li class="formLogin"><input  type="text" id="username" name="_username" value="{{ last_username }}" required="required" autocomplete="username" placeholder="username"/></li>
                                    {% endif %}
                                    <li class="formPass"><input type="password" id="password" name="_password" required="required" autocomplete="current-password" placeholder="password"/></li>


                                    <li class="remember">
                                        <a href="#" class="forgotPwd"></a>
                                        <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                                        <label for="rememberme">Se souvenir de moi</label>
                                    </li>
                                    <li class="formButton"><input class="sendEnter enter sc_button sc_button_skin_global sc_button_style_bg sc_button_size_medium" type="submit" id="_submit" name="_submit" value="{{ 'login'|trans }}" /></li>
                                </ul>
                            </div>

                            <div class="sc_columns_item">
                                <ul class="formList">
                                    <li>Connectez-vous directement grâce à vos réseaux sociaux</li>
                                    <li class="loginSoc">
                                        <a href="#" class="iconLogin fb icon-facebook"></a>
                                        <a href="#" class="iconLogin tw icon-twitter"></a>
                                        <a href="#" class="iconLogin gg icon-gplus"></a>
                                    </li>
                                    <li><a href="#">J'ai oublié mon mot de passe !</a></li>
                                </ul>
                            </div>
                            <div class="sc_result result sc_infobox sc_infobox_closeable"></div>
                        </form>
                    </div>

                    <div id="registerForm" class="formItems registerFormBody sc_columns_2" align="center">
                        <h5 class="sc_title sc_title_style_3 sc_title_center margin_bottom_10">C'est la première fois que vous accédez à notre site web?<br>Alors faisons connaissance! </h5>

                        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                        {% set var = "Nom d'utilisateur" %}
                        <div class="sc_columns_item" align="center">
                            <input type="hidden" name="redirect_to" value="#" />
                            <ul class="formList" >

                                <li class="formLogin">{{ form_widget(form.email, {'attr':{'class':'email', 'name':'email', 'placeholder':'Votre e-mail'}}) }}</li>
                                <li class="formLogin">{{ form_widget(form.username, {'attr':{'class':'', 'name':'username','placeholder':var}}) }}</li>
                                <li class="i-agree">
                                    <input type="checkbox" value="forever" id="i-agree" name="i-agree">
                                    <label for="i-agree">j'accepte</label> <a href="#">Termes et conditions</a>
                                </li>



                            </ul>
                        </div>
                        <div class="sc_columns_item">
                            <ul class="formList">


                                <li class="formLogin">{{ form_widget(form.plainPassword.first, {'attr':{'class':'','type':'password', 'placeholder':'Mot de passe'}}) }}</li>
                                <li class="formLogin">{{ form_widget(form.plainPassword.second, {'attr':{'class':'','type':'passwor','placeholder':'Retapez le mot de passe'}}) }}</li>
                                <li><input type="submit" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" value="Valider" /></li>

                            </ul>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    </body>

{% endblock %}
{% block javascripts %}


    <script type='text/javascript' src='{{ asset('js/vendor/jquery-1.11.3.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/jquery-migrate.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/revslider/rs-plugin/js/jquery.themepunch.tools.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/revslider/rs-plugin/js/jquery.themepunch.revolution.min.js') }}'></script>

    <script type='text/javascript' src='{{ asset('js/vendor/__packed.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/_utils.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/mediaelement/mediaelement-and-player.min.js') }}'></script>

    <script type='text/javascript' src='{{ asset('js/custom/_front.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/shortcodes_init.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/_form_contact.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/__main.js') }}'></script>


{% endblock %}
</body>
</html>
<style>

    .email {
        -webkit-font-smoothing: antialiased;
        list-style: none;
        font-family: 'Cantarell', sans-serif;
        transition: all 0.3s ease-out;
        font-size: 16px;
        display: block;
        outline: none;
        color: #888888;
        border-width: 1px;
        border-style: solid;
        border-color: #ddd;
        background-color: #fff;
        margin: 0px;
        width: 100%;
        font-weight: 300;
        box-sizing: border-box;
        padding: 7px 13px;
    }

    .logout {
        -webkit-font-smoothing: antialiased;
        text-shadow: 0.5px 0.1px #C0BEBE;
        list-style: circle;
        list-style-type: none;
        border: 0;
        font-family: inherit;
        font-style: inherit;
        font-weight: inherit;
        outline: 0;
        transition: all 0.3s ease-out;
        height: 45px;
        line-height: 45px;
        margin: 0;
        padding: 0 10px;
        letter-spacing: 1px;
        float: left;
        font-size: 12px;
        text-decoration: none;
        position: relative;
        display: inline-block;
        color: #8c8c8c;
    }


</style>