{% extends 'backOffice/index.html.twig' %}

{% block body %}
<!-- Fontfaces CSS-->
<link href="{{ asset('css/font-face.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/font-awesome-4.7/css/font-awesome.min.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/font-awesome-5/css/fontawesome-all.min.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/mdi-font/css/material-design-iconic-font.min.css') }}" rel="stylesheet" media="all">

<!-- Bootstrap CSS-->
<link href="{{ asset('vendor/bootstrap-4.1/bootstrap.min.css') }}" rel="stylesheet" media="all">

<!-- Vendor CSS-->
{#<link href="vendor/animsition/animsition.min.css" rel="stylesheet" media="all">#}
<link href="{{ asset('vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/wow/animate.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/css-hamburgers/hamburgers.min.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/slick/slick.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/select2/select2.min.css') }}" rel="stylesheet" media="all">
<link href="{{ asset('vendor/perfect-scrollbar/perfect-scrollbar.css') }}" rel="stylesheet" media="all">

<!-- Main CSS-->
<link href="{{ asset('css/theme.css') }}" rel="stylesheet" media="all">


<div align="center" >
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <strong>ajout d'un plat</strong>
            </div>
            <div class="card-body card-block">
                <div action="" method="post" class="form-horizontal">
                    {{ form_start(form) }}
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-email" class=" form-control-label">Nom</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.nom, {'attr':{'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Type</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.type, {'attr':{'class': 'form-control'}}) }}
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Specialité</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.specialite, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Difficulté</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.difficulte, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Temps de Preparation</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.tempsPrepa, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Temps de cuisson</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.tempsCuisson, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Méteo</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.meteo, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Humeur</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.humeur, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Unité de portion</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.nomPortion, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Portion</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.nbrPortion, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">A éviter</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.aEviter, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">A Recommander</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.aReccomander, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Healthy food rate (hfr)</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.hfr, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group" style="">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Ustensiles</label>
                        </div>
                        <div class="col-12 col-md-9" style="">
                            {{ form_widget(form.ustensiles, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Description</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.description, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Préparation</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.preparation, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Ingredients</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.ingredient, {'attr':{'class': 'form-control'}}) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Notes</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.note, {'attr':{'class': 'form-control'}} ) }}
                        </div>

                    </div>
                    <div class="row form-group">
                        <div class="col col-md-3">
                            <label for="hf-password" class=" form-control-label">Images</label>
                        </div>
                        <div class="col-12 col-md-9">
                            {{ form_widget(form.image5, {'attr':{'class': 'form-control', 'hidden':'true'}} ) }}

                            <input type="file" id="files" class="" name="files[]" multiple="">

                        </div>

                    </div>

                </div>
                {{ form_widget(form.Ajouter, {'attr':{'class': 'btn btn-primary btn-sm'}})  }}
                {{ form_end(form) }}
            </div>

        </div>
    </div>
</div>


<script>
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;
    // var refrence = $('#platbundle_plat_nom').val() ;

    {#$('##platbundle_plat_Ajouter').submit(function (e) {#}
    {#e.preventDefault();#}
    {#$("#ss").attr("disabled", true);#}
    {#//alert('e');#}
    {#var Form_data = new FormData(this);#}
    {#// var ref = $('#HREFF').val() ;#}
    {#    Form_data.append("refrence", $('#HREFF').val());#}
    {#    Form_data.append("refrence", $('#HREFF').val());#}
    {#    Form_data.append("refrence", $('#HREFF').val());#}

    {#$.ajax({#}
    {#url: '{{ path('im') }}',#}
    {#type: 'post',#}
    {#data: Form_data,#}
    {#contentType: false,#}
    {#processData: false,#}
    {#beforeSend:function(){#}
    {#$('#uploaded_image').append("<h1  style='color:darkgreen;'>Images Uploading...</h1>"); class='text-success'#}
    {#},#}
    {#success: function (result) {#}
    {#$('#output').html(result);#}
    {#}#}
    {#});#}
    {#});#}
</script>
{% endblock %}


