{#{% trans_default_domain 'FOSUserBundle' %}#}

{#{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}#}

{#    <div class="form-group">#}
{#        <label>E-Mail</label>#}
{#        {{ form_widget(form.email, {'attr':{'class':'au-input au-input--full', 'name':'email', 'placeholder':''}}) }}#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label>Username</label>#}
{#        {{ form_widget(form.username, {'attr':{'class':'au-input au-input--full', 'name':'username', 'placeholder':''}}) }}#}
{#    </div>#}
{#    <div class="form-group">#}
{#        <label>Password</label>#}
{#        {{ form_widget(form.plainPassword.first, {'attr':{'class':'au-input au-input--full','type':'password', 'placeholder':''}}) }}#}
{#    </div>#}

{#        <div>#}
{#            <input type="submit" class="au-btn au-btn--block au-btn--green m-b-20" value="{{ 'register'|trans }}" />#}
{#        </div>#}
{#{{ form_end(form) }}#}


{% trans_default_domain 'FOSUserBundle' %}
<body>
<div id="user-popUp" class="user-popUp mfp-with-anim ">
    <div class="sc_tabs sc_tabs sc_tabs_style_1 sc_tabs_effects" style="display: block">
        <div class="sc_tabs_array" >
            <div id="registerForm" class="formItems registerFormBody sc_columns_2" align="center"style="margin-bottom: 12.5%;">
                <h5 class="sc_title sc_title_style_3 sc_title_center margin_bottom_10">Retapez les informations<br>erronées </h5><br>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

                    <div class="sc_columns_item" align="center">
                        <input type="hidden" name="redirect_to" value="#" />
                        <ul class="formList" >
                            {{ form_errors(form.email) }}
                            <li class="formLogin">{{ form_widget(form.email, {'attr':{'class':'email', 'name':'email'}}) }}</li>
                            {{ form_errors(form.username) }}
                            <li class="formLogin">{{ form_widget(form.username, {'attr':{'class':'', 'name':'username'}}) }}</li>
                            {{ form_errors(form.plainPassword.first) }}
                            <li class="formLogin">{{ form_widget(form.plainPassword.first, {'attr':{'class':'','type':'password'}}) }}</li>
                            <li class="formLogin">{{ form_widget(form.plainPassword.second, {'attr':{'class':'','type':'password'}}) }}</li>


                        </ul>
                    </div>
                    <div class="sc_columns_item">
                        <ul class="formList">
                            <div style="margin-top: 13%;margin-right: 17%;">
                                <li><input type="submit" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" style="" value="Valider" /></li>
                                <li><a href="{{ path('login') }}" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" style="background-color:#d11a2a">Retour</a></li>
                                <li><input type="hidden" style="" value="" /></li>
                                <li><input type="hidden" style="" value="" /></li>
                                <li><input type="hidden" style="" value="" /></li>
                            </div>


                        </ul>
                    </div>
                {{ form_end(form) }}
            </div>
        </div>
    </div>
</div>

<style>

    .email {
        -webkit-font-smoothing: antialiased;
        list-style: none;
        font-family: 'Cantarell', sans-serif;
        transition: all 0.3s ease-out;
        font-size: 16px;
        display: block;
        outline: none;
        color: #888888;
        border-width: 1px;
        border-style: solid;
        border-color: #ddd;
        background-color: #fff;
        margin: 0px;
        width: 100%;
        font-weight: 300;
        box-sizing: border-box;
        padding: 7px 13px;
    }



</style>
