{% trans_default_domain 'FOSUserBundle' %}
<body>

    <div id="user-popUp" class="user-popUp mfp-with-anim ">
        <div class="sc_tabs sc_tabs sc_tabs_style_1 sc_tabs_effects" style="display: block">
            <ul class="sc_tabs_titles">
                <li><a href="#registerForm" class="registerFormTab">faisons connaisance !</a></li>
            </ul>

            <div class="sc_tabs_array">
                <div id="registerForm" class="formItems registerFormBody sc_columns_2" align="center">
                    <h5 class="sc_title sc_title_style_3 sc_title_center margin_bottom_10">Ouups.. un petit problème avec la création du compte ?<br>Réessayons de nouveau ! </h5>

                    {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}
                    {% set var = "Nom d'utilisateur" %}
                    <div class="sc_columns_item" align="center">
                        <input type="hidden" name="redirect_to" value="#" />
                        <ul class="formList" >

                            <li class="formLogin">{{ form_widget(form.email, {'attr':{'class':'email', 'name':'email', 'placeholder':'Votre e-mail'}}) }}</li>
                            {{ form_errors(form.email) }}

                            <li class="formLogin">{{ form_widget(form.username, {'attr':{'class':'', 'name':'username','placeholder':var}}) }}</li>
                            {{ form_errors(form.username) }}

                            <li style="color: black;">
                                {{ form_widget(form.termsOfUse, {'attr':{'class':'', 'name':'termsOfUse'}}) }}
                                j'accepte les <a href="#">Termes et conditions</a>
                                {{ form_errors(form.termsOfUse) }}
                            </li>
                        </ul>
                    </div>
                    <div class="sc_columns_item">
                        <ul class="formList">

                            <li class="formLogin">{{ form_widget(form.plainPassword.first, {'attr':{'class':'','type':'password', 'placeholder':'Mot de passe'}}) }}</li>


                            <li class="formLogin">{{ form_widget(form.plainPassword.second, {'attr':{'class':'','type':'password','placeholder':'Retapez le mot de passe'}}) }}</li>
                            {{ form_errors(form.plainPassword.first) }}
                            <li>
                            <input type="submit" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" value="Valider" onClick="this.disabled=true; this.value='Envoi…'; this.form.submit();" /></li>

                            </li>
                        </ul>

                    </div>


                    {{ form_end(form) }}
                </div>

            </div>
        </div>
    </div>
</body>

<style>
    ul li{
        color: red;
    }
    .email {
        -webkit-font-smoothing: antialiased;
        list-style: none;
        font-family: 'Cantarell', sans-serif;
        transition: all 0.3s ease-out;
        font-size: 16px;
        display: block;
        outline: none;
        color: #888888;
        border-width: 1px;
        border-style: solid;
        border-color: #ddd;
        background-color: #fff;
        margin: 0px;
        width: 100%;
        font-weight: 300;
        box-sizing: border-box;
        padding: 7px 13px;
    }



</style>
