{% trans_default_domain 'FOSUserBundle' %}
<body>
        <div id="user-popUp" class="user-popUp mfp-with-anim ">
            <div class="sc_tabs sc_tabs sc_tabs_style_1 sc_tabs_effects" style="display: block">
                <div class="sc_tabs_array" >
                    <div id="registerForm" class="formItems registerFormBody sc_columns_2" align="center" >
                        <h5 class="sc_title sc_title_style_3 sc_title_center margin_bottom_10">Ouups.. un petit problème en modifiant votre mot de passe ? <br>
                            Réessayons de nouveau !</h5>

                        {{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
                            <ul class="formList" >
                                <li class="formLogin">{{ form_widget(form.current_password, {'attr':{'class':'password', 'name':'current_password','placeholder':'Ancien mot de passe'}})     }}</li>
                                {{ form_errors(form.current_password) }}

                                <li class="formLogin">{{ form_widget(form.plainPassword.first, {'attr':{'class':'','type':'password','placeholder':'Nouveau mot de passe'}}) }}</li>
                                {{ form_errors(form.plainPassword.first) }}

                                <li class="formLogin">{{ form_widget(form.plainPassword.second, {'attr':{'class':'','type':'password','placeholder':'Rettapez le nouveau mot de passe'}}) }}</li>
                                {{ form_errors(form.plainPassword.second) }}

                                <div style="margin-top: 15px;">
                                    <li>
                                    <a href="{{ path('editProfile') }}" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" style="background-color:#d11a2a">Annuler</a>
                                    <input type="submit" class="sendEnter enter sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_medium" style="" value="Valider" />
                                    </li>
                                </div>

                            </ul>


                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
</body>