
{% extends 'frontOffice/base.html.Twig' %}
{% block stylesheets %}
    {{ parent() }}
    {# Début Recherche Simple #}
    <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.scrollbar.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/magnific-popup/magnific-popup.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/woocommerce/css/select2.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/woocommerce/css/woocommerce-layout.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/woocommerce/css/woocommerce-smallscreen.css') }}' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='{{ asset('js/vendor/woocommerce/css/woocommerce.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/fontello/css/fontello.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/fontello/css/animation.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/style.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/shortcodes.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/responsive.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/woo-style.css') }}' type='text/css' media='all' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" >

    <style>
        .desc{
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
        .desc:hover{
            text-overflow: ellipsis;
            white-space: inherit;
            overflow: hidden;
        }
    </style>
    {# Fin recherche Simple #}
{% endblock %}
{% block divType %}wrap sideBarRight sideBarShow menuStyle1 menuSmartScrollShow blogStyleExcerpt bodyStyleWide menuStyleFixed visibleMenuDisplay logoImageStyle logoStyleBG{% endblock %}
{% block classbody %} woocommerce woocommerce-page{% endblock %}
{% block content %}
    <div class="content">
        <section class="">
            <div class="container">
                <section class="post shop_mode_thumbs">
                    <article class="post_content">
                        <nav class="woocommerce-breadcrumb" >
                            <a href="index.html">Home</a>&nbsp;&#47;&nbsp;Plats
                        </nav>
                        <h1 class="page-title">Plats</h1>
                        <!-- --------------------------------  debut tri/search         ----------------------------------------- -->
                        <div  class="search-box">
                            <input onkeyup="sa()" type="text" id="searchA" name="searchA" class="search-txt" placeholder="Chercher votre plat!" style="margin-top: 6px; font-size: 15px; border-width: 2px ; border-color: #80b500;">
                        </div>
                        <!-- --------------------------------  fin tri/search         ----------------------------------------- -->
                        <h4 id="aucun" style="display: none;" class="products" >Aucun résultat ne correspond à votre Recherche ! </h4>
                        <ul id="ulSA" class="products" style="margin-top: 10px;">
                            {% for plat in listPlats %}
                                <li value="{{plat.nom }}" style="padding-right: 2.6% ;  margin: 0;" class="product">
                                    <a href="{{  path('plat_get', {'id':plat.id}) }}">
                                        <img src="{{asset( plat.image0 )}}" style="width: 200px; height: 140px;" class="attachment-shop_catalog" alt="{{plat.nom }}" />
                                        <h3>{{plat.nom }}</h3>
                                        <p style="font-size: 14px;" class="desc">
                                            {{plat.description }}
                                        </p>
                                        <p style="font-size: 13px; color: gray ;">
                                            <i class="fa fa-clock-o"> </i> {{plat.tempsPrepa + plat.tempsCuisson }} minutes
                                        </p>
                                    </a>
                                    {#<a href="#Noaction" class="fa fa-heart" style="font-size: 18px; color:crimson; margin-top: 20px;"> Favoris</a>#}
                                </li>
                            {% endfor %}
                        </ul>

                    </article>
                </section>
            </div>
        </section>
    </div>

    <div id="sidebar_main" class="widget_area sideBar">

        <aside class="widget-first widgetWrap widget_categories">
            <h4 class="title">filtrer</h4>
            <ul>
                <li class="">
                    <a>Par Difficulté</a>
                    <ul class='children'>
                        <li class="">
                            <input type="checkbox" value="faci" /> Facile
                        </li>
                        <li class="">
                            <input type="checkbox" value="inter" /> Intermédiaire
                        </li>
                        <li class="">
                            <input type="checkbox" value="diff" /> Difficile
                        </li>
                    </ul>
                </li>

                <li class="">
                    <a>Par Type de plat</a>
                    <ul class='children'>
                        {# yetzedou mil base :) #}
                        {% for type in listType %}
                            <li class="">
                                <input type="checkbox" value="base" /> {{type.nom}}
                            </li>
                        {% endfor %}
                    </ul>
                </li>

                <li class="">
                    <a>Par Spécialité </a>
                    <ul class='children'>
                        {% for spec in listSpec %}
                            <li class="">
                                <input type="checkbox" value="base" /> {{spec.nom}}
                            </li>
                        {% endfor %}

                    </ul>
                </li>

                <li class="">
                    <a>Par Healthy Food Rate</a>
                    <ul class='children'>
                        <li class="">
                            <input type="range" value="hfr" />
                        </li>
                    </ul>
                </li>
            </ul>
            <br>
            <div class="widget-first widgetWrap widget_search" >
                <div class="searchFormWrap">
                    <div class="searchSubmit">
                        <input class="sc_button sc_button_skin_dark sc_button_style_bg sc_button_size_mini" type="submit" id="filBtn" value="filtrer" />
                    </div>
                </div>
            </div>
        </aside>


        <aside class="widget-first widgetWrap widget_tag_cloud">
            <h4 class="title">Recette Aléatoire</h4>

            <div class="tagcloud">
                {% for i in 0..6  %}
                    {% set ii = random(0, listPlats|length -1) %}
                    <a href="{{  path('plat_get', {'id':listPlats[ii].id}) }}">{{ listPlats[ii].nom }}</a>
                {% endfor %}
            </div>
        </aside>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script>
        function sa() {
            var input, filter, ul, li, a, i, txtValue;
            input = document.getElementById('searchA');
            filter = input.value.toUpperCase();
            ul = document.getElementById("ulSA");
            au = document.getElementById("aucun");
            au.style.display = "none";
            li = ul.getElementsByTagName('li');
            var max = li.length;
            var jj=0;
            for (i = 0; i < li.length; i++) {
                a = li[i].getElementsByTagName("h3")[0];
                txtValue = a.textContent || a.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    li[i].style.display = "";
                } else {
                    li[i].style.display = "none";
                    jj++;
                    if(jj == max){
                        au.style.display = "";
                    }
                    else{
                        au.style.display = "none";
                    }
                }
            }
        }
    </script>

{% endblock %}


