
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <title>Ukla</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('images/favicon.ico') }}" />
    <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/swiper/idangerous.swiper.scrollbar.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('js/vendor/magnific-popup/magnific-popup.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/fontello/css/fontello.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/fontello/css/animation.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/style.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/shortcodes.css') }}' type='text/css' media='all' />
    <link rel='stylesheet' href='{{ asset('css/responsive.css') }}' type='text/css' media='all' />
</head>

    <style>
        body{
            background-image: url("{{ asset('images/frontOffice/bg_login_register.jpg') }}");
            background-position: center center;
            background-repeat: no-repeat;
            background-attachment: fixed;
            background-size: cover;
            background-color: white;

        }
    </style>
<body style="">


            {% if app.request.hasPreviousSession %}
                {% for type, messages in app.session.flashbag.all() %}
                    {% for message in messages %}
                        <div class="flash-{{ type }}">
{#                            {{ message }}#}
                        </div>
                    {% endfor %}
                {% endfor %}
            {% endif %}

            <div>
                {% block fos_user_content %}
                {% endblock fos_user_content %}
            </div>

    <script type='text/javascript' src='{{ asset('js/vendor/jquery-1.11.3.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/jquery-migrate.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/__packed.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/vendor/mediaelement/mediaelement-and-player.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/_utils.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/_front.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/shortcodes_init.min.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/_form_contact.js') }}'></script>
    <script type='text/javascript' src='{{ asset('js/custom/__main.js') }}'></script>

</body>

</html>

<script>

</script>
