{% extends 'frontOffice/base.html.Twig' %}
{% block content %}

    <div class="wrapContent">
        <div id="wrapWide" class="wrapWide">
            <div class="content">
                <section class="singlePage emptyPostFormatIcon emptyPostTitle emptyPostInfo page">
                    <article class="postContent">
                        <div class="postTextArea">

                            <section class="section_padding_bottom_50">
                                <div class="container">
                                    <h3 class="sc_title sc_title_style_3 sc_title_center">Mon Profile</h3>
                                    <article class="blogStreampage odd first emptyPostFormatIcon emptyPostInfo post">

                                        <div class="post Standard">
                                            <div class="sc_accordion_init sc_toggl sc_toggl_style_1 sc_toggl_icon_show sc_toggl_icon_right" data-active="0">
                                                <div id="sc_accordion_q1" class="sc_toggl_item odd first">
                                                    <div class="sc_toggl_title">Informations Personnelles</div>
                                                    <div class="sc_toggl_content">
                                                        <form action="{{ path('infosPerso') }}" method="post">
                                                            <div class=" sc_columns  sc_columns_2 sc_columns_indent">
                                                                <div class="sc_columns_item sc_form_username">
                                                                    <label class="required" for="contact_form_username">Nom</label>
                                                                    <input type="text" name="nom" id="contact_form_username" placeholder="{{ user.nom }}">
                                                                </div>
                                                                <div class="sc_columns_item sc_form_email">
                                                                    <label class="required" for="contact_form_email">Prénom</label>
                                                                    <input type="text" name="prenom" id="contact_form_email" placeholder="{{ user.prenom }}">
                                                                </div>
                                                                <div class="sc_columns_item sc_form_subj">
                                                                    <label class="required" for="contact_form_subj">Sexe</label>

                                                                    <select name="sexe" id="contact_form_subj" selected="{% if user.sexe %}{{ user.sexe }}{% endif %}" style="margin-bottom: 5%;">
                                                                        <option {% if user.sexe == "masculin" %}selected{% endif %} value="masculin">Masculin</option>
                                                                        <option {% if user.sexe == "feminin" %}selected{% endif %} value="feminin">Feminin</option>
                                                                    </select><br>

                                                                    <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                                                                        <button type="submit" name="contact_submit" class="contact_form_submit">submit</button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                                <div id="sc_accordion_q2" class="sc_toggl_item even">
                                                    <div class="sc_toggl_title">Modifier mon mot de passe</div>
                                                    <div class="sc_toggl_content">

                                                        {{ form_start(formPass, { 'action': path('changePassword') }) }}
                                                        {{ form_row(formPass.current_password,{'label': 'Ancien mot de passe' } )   }}
                                                        {{ form_row(formPass.plainPassword.first,{'label': 'Nouveau mot de passe'} ) }}
                                                        {{ form_row(formPass.plainPassword.second,{'label': 'Rettapez le nouveau mot de passe'} ) }}
                                                        <br>
                                                        <div class="sc_button sc_button_style_3 sc_button_skin_dark sc_button_style_bg sc_button_size_medium">
                                                            <button type="submit" name="contact_submit" class="contact_form_submit">submit</button>
                                                        </div>
                                                        {{ form_end(formPass) }}
                                                    </div>

                                                </div>
                                                <div id="sc_accordion_q3" class="sc_toggl_item odd">
                                                    <div class="sc_toggl_title">Mon Etat Sanitaire </div>
                                                    <div class="sc_toggl_content">


                                                        <aside class="widget-first widgetWrap widget_tag_cloud">
                                                            <h4 class="title">Vous etes sensibles aux:</h4>
                                                            <p>Le lorem ipsum est, en imprimerie, une suite de mots sans signification utilisée à titre provisoire pour calibrer une mise en page, le texte définitif venant remplacer le faux-texte dès qu'il est</p>
                                                            <div id="the-basics" style="margin-bottom: 50px;">
                                                                <input class="typeahead " type="text" placeholder="Maladies Ou Allergies .." id="maladieInput">
                                                                <i class="fas fa-plus fa-2x" style="color: #80b500;" id="validateMaladie" onclick='addFunction()'></i>
                                                            </div>

                                                            <div class="tagcloud" >
                                                                {% for m in maladies %}
                                                                <a class='deleteTag' id="{{ m["id"] }}" onclick='myF(this.id)'>{{ m["nomMaladie"] }}</a>
                                                                {% endfor %}

                                                            </div>
                                                        </aside>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </section>






                        </div>
                    </article>
                </section>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('typeahead.bundle.js') }}"> </script>
    <script type="text/javascript">
        var substringMatcher = function(strs) {
            return function findMatches(q, cb) {
                var matches, substringRegex;

                // an array that will be populated with substring matches
                matches = [];

                // regex used to determine if a string contains the substring `q`
                substrRegex = new RegExp(q, 'i');

                // iterate through the pool of strings and for any string that
                // contains the substring `q`, add it to the `matches` array
                $.each(strs, function(i, str) {
                    if (substrRegex.test(str)) {
                        matches.push(str);
                    }
                });

                cb(matches);
            };
        };

        var maladies = [{% for ma in allMaladie %}   "{{ ma["nomMaladie"] |raw}}",{% endfor %}
        ];

        $('#the-basics .typeahead').typeahead({
                hint: true,
                highlight: true,
                minLength: 1
            },
            {
                name: 'maladies',
                source: substringMatcher(maladies)
            });
    </script>
    <script type="text/javascript">
        var maladiesNamesArray=[{% for ma in allMaladie %}   "{{ ma["nomMaladie"] |raw }}",{% endfor %}];
        var maladiesIdsArray=[{% for ma in allMaladie %}   '{{ ma["id"] }}',{% endfor %}];
        function addFunction()
            { //alert('clicked');
                var maladie = $( "#maladieInput" ).val();
                //alert(maladie);
                var indexOfMaladie =maladiesNamesArray.indexOf(maladie) ;
                //alert( maladiesIdsArray[indexOfMaladie]);
                $.ajax({
                    url:        '{{ path('after_request_add_maladie_to_user') }}',
                    type:       'POST',
                    dataType:   'json',
                    data: {idMaladie:maladiesIdsArray[indexOfMaladie]},
                    //async:      true,

                    success: function(data) {
                        //alert("success");
                        $( ".tagcloud" ).append( "<a class="+"deleteTag"+" id='"+maladiesIdsArray[indexOfMaladie]+"' onclick='myF(this.id)'>" +maladie+"</a>" );
                        //$( "#here" ).load(window.location.href + " #here" ); //ou ca
                    },

                });
            }


        //delete element
        function myF(id)
            {   //alert(id);

                //id=5;
                //alert(id);
                $.ajax({
                    url:        '{{ path('after_request_delete_maladie_from_user') }}',
                    type:       'POST',
                    dataType:   'json',
                    data: {idMaladie:id},
                    //async:      true,

                    success: function(data) {
                        //alert("success removing ");
                        // delete element
                        $( "#"+id).remove();


                    },

                });
            }


    </script>
    <script src="https://kit.fontawesome.com/cafc6f169f.js" crossorigin="anonymous"></script>
{% endblock %}